
.detailscontainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10%;
   
   
  }
  
  .budgetbutton2 {
    position: relative;
    display:inline-block;
    height: 30px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family:sans-serif;
    font-size: 16px;
    font-weight: 50;
    cursor: pointer;
  
    
   
    
  }
  .budgetbutton2:active {
    background: #006e58;
  }
  
  .button__text2
   {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
  
  }
  .responsive-table .table-header {
    background-color:#004680;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;

  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
   
  }
  .responsive-table .col-1 .col-2 .col-3 .col-4 .col-5 .col-6 .col-7 .col-8 {
    flex-basis: 40%;
  
    
  }
  .responsive-table .col-1 {
    flex-basis: 40%;
  }
   .responsive-table .col-2 {
    flex-basis: 40%;
  }
  .responsive-table .col-3 {
    flex-basis: 50%;
  }
  .responsive-table .col-4 {
    flex-basis: 40%;
  } 
  .responsive-table .col-5 {
    flex-basis: 40%;
  } 
  .responsive-table .col-6 {
    flex-basis: 40%;
  } 
  .responsive-table .col-7 {
    flex-basis: 40%;
  } 
  .responsive-table .col-8 {
    flex-basis: 40%;
  } 
   
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: black;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
      font-weight: bold;
    }
  }